<!DOCTYPE html>
<html data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cue</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  {% import 'macros.html' as macros %}
  {{ macros.header(request, "Home") }}

  <main class="container py-4">
    <div class="row " >
      <p>Welcome! We're glad you're here.</p>
    </div>

    {% if flash %}
    <div class="row">
      <div class="col alert alert-secondary text-center">{{ flash }}</div>
    </div>
    {% endif %}

    <div class="row">
      <section class="col-md-6">
        <h2>Post a cue</h2>
        <form action="/home/cue" method="POST" class="form-floating">
          <input type="hidden" name="csrf" value="{{ request.state.csrf }}">
          <div class="form-floating mb-3">
            <input type="text" name="name" placeholder="Cue name" class="form-control">
            <label for="name">Cue name</label>
          </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </section>

      <section class="col-md-6">
        <h2>Access keys</h2>

        {% if apikeys %}
        <p>Here's a list of your authorized access keys.</p>

        <ul class="list-group">
          {% for k in apikeys %}
          <li class="list-group-item">{{ k.name }} (<a href="/key-removal/{{ k.id }}">delete</a>)</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>You don't have any access keys set up yet.</p>
        {% endif %}

        <p class="py-2">Install the <code>cue</code> command on your target system and add new access keys with <code>cue auth</code>.</p>
      </section>
    </div>
  </main>

  <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
      <p class="col-auto text-center">&copy; 2023 faat.ca</p>
    </div>
  </footer>

  <script src="/static/script.js"></script>
</body>
</html>
