<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cue</title>
  <link rel="stylesheet" type="text/css" href="/static/pico.min.css">
</head>
<body>
  <main class="container">
    <div class="grid">
      <img class="mb-2" src="/static/mountain.jpg">
      <div class="mb-2">
        <h1>Cue</h1>
        <p>Welcome! <a href="/auth/sign-in">Sign in.</a></p>
        <hr>
        <p>&copy; 2023 faat.ca</p>
      </div>
    </div>
  </main>
</body>
</html>