<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cue</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <main class="container">
    <div class="row">
      <img class="col-md-6 py-4" src="/static/mountain.jpg">
      <div class="col-md-6 py-4">
        <h1>Cue</h1>
        <p>Welcome! <a href="/auth/sign-in">Sign in</a>.</p>
        <hr>
        <p>&copy; 2023 faat.ca</p>
      </div>
    </div>
  </main>
  <script src="/static/script.js"></script>
</body>
</html>
