<!DOCTYPE html>
<html data-bs-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cue</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  {% import 'macros.html' as macros %}
  {{ macros.header(request, "Key Request") }}

  <main class="container py-4">
    <p>Do you want to grant access for this process?</p>
    <p class="text-muted">ID: {{ k }}</p>

    <form action="{{ k }}/accept" method="POST" class="form">
      <input type="hidden" name="csrf" value="{{ request.state.csrf }}">
      <input type="hidden" name="k" value="{{ k }}">

      <div class="form-floating mb-3">
        <input type="text" name="name" value="{{ name }}" placeholder="name" class="form-control">
        <label for="name">Key name</label>
      </div>

      <button type="submit" class="btn btn-primary">Accept</button>
      <a href="/home" role="button" class="btn btn-secondary">Ignore</a>
    </form>
  </main>

  <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
      <p class="col-auto text-center">&copy; 2023 faat.ca</p>
    </div>
  </footer>

  <script src="/static/script.js"></script>
</body>
</html>
