{% macro header(request, title) %}
<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">Cue</a>
      <a href="" class="btn btn-outline-secondary btn-sm sign-out">Sign out</a>
    </div>
  </nav>

  <form
    name="sign-out"
    method="POST"
    action="/auth/sign-out"
    style="visibility: hidden;">
    <input type="hidden" name="csrf" value="{{ request.state.csrf }}">
  </form>

  <script type="text/javascript">
    document.querySelector("a.sign-out").addEventListener(
      "click",
      e => {
        e.preventDefault();
        document.forms["sign-out"].submit();
      }
    );
  </script>
</header>
{% endmacro %}
